// base
@import 'Foundation/reset';
@import 'Foundation/base';

// inc
@import 'inc/setting';

// Layout
@import 'Layout/centering';
@import 'Layout/header';
@import 'Layout/main';
@import 'Layout/footer';

// Object
@import 'Object/hero';
@import 'Object/heading';
@import 'Object/update';
@import 'Object/profile';
@import 'Object/detail';
@import 'Object/skill';
@import 'Object/work';
@import 'Object/button';
@import 'Object/contact';
