@charset "UTF-8";

/* ===============================================
Base
=============================================== */

/*
  Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Default
----------------------------------------------- */
html {
    background-color: #eee;
}
body {
    font-family: 'Noto Sans JP', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic',
'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
    line-height: 1.5;
    color: #444;

}

img {
     vertical-align: bottom;
}

/* ===============================================
Layout
=============================================== */

#container {
    width: 960px;
    margin: 0 auto;
}

/*
  Header
----------------------------------------------- */
#header h1 {
    padding: 1.5em;
    background-color: #fff;
}

#header nav {
    background-color: #212121;
    color: #fff;
}

#header-nav ul {
    overflow: hidden;
}

#header-nav li {
    width: 20%;
    float: left;
}

#header-nav a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
}
#header-nav a:hover {
    background-color: #555;
}

/*
  Footer
----------------------------------------------- */
#footer {
    clear: both;
    overflow: hidden;
    background-color: #212121;
    color: #666666;
}

#footer-copyright {
    float: right;
    padding: 1.75em;
    font-size: .75em;
}

#footer-copyright a {
    color: #666;
    text-decoration: none;
}

/*
  Hero
----------------------------------------------- */

.hero p {
    width: 100%;
    min-width: 960px;
    margin: 0.9375em 0;
}

/*
  Main
----------------------------------------------- */
#contents {
    clear: both;
    overflow: hidden;
}

.left-contents {
    width: 690px;
    float: left;
}

/****** work ******/

.main-work {
    overflow: hidden;
    background-color: #fff;
    padding: 1.875em;
    margin-bottom: 1.875em;
}

.main-work img {
    float:left;
}

.main-work p {
    font-size: .88em;
    padding-left: 19.1761364em;
}

#main h2 {
    border-left: 3px solid #212121;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: .5em;
    margin-bottom: .75em;
}

/****** service ******/

.main-service {
    padding: 1.875em;
    background-color: #fff;
    margin-bottom: 1.875em;
}

.main-service p {
    font-size: .88em;
}

.grid {
    overflow: hidden;
}

.grid-item {
    width: 200px;
    position: relative;
    float: left;
    margin-left: .9375em;
}

.grid-item:first-child {
    margin-left: 0;
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.grid-item h3 {
    padding-top: 6.55em;
    font-size: 1.25em;
    font-weight: bold;
}

.button a {
    clear: both;
    display: block;
    text-align: center;
    color: #666;
    text-decoration: none;
    width: 630px;
    margin-top: 2.5em;
    padding: .75em 0;
    background-color: #ddd;
}

.button a:hover {
    background-color: #ccc;
}

/****** news *******/

.right-contetns {
    width: 210px;
    float: right;
    background-color: #fff;
    padding: .9375em;
}

.right-contetns h2 {
    border-left: 2px solid #212121;
    font-weight: bold;
    padding-left: .5em;
    margin-bottom: .75em;
}

.news {
    padding: 1em 0;
    border-top: 1px solid #ddd;
    font-size: .88em;
}

.news-date {
    color: #999;
}


/*
  Accessibility
----------------------------------------------- */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.text-transform {
    text-transform: uppercase;
}
