@charset "UTF-8";

/*
Base
-----------------------------------------------------*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default style */
html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font: medium/1.5 '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic',
'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5;

}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  color: #263238;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

/*
Layout
-----------------------------------------------------*/
/* centering */
.l-wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Header */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .75em 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  z-index: 1;
}

.l-header-title {
  float: left;
}

.l-header-nav {
  float: right;
}

@media screen and (min-width: 768px) {
  .l-header {
    padding: 1.5em 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-header {
    padding: 1.75em 0;
  }
}

/* Global-nav */
.l-global-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3em 0;
  width: 100%;
  height: 120%;
  background-color: #263238;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; /* IE9非対応 */
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); /* 100%で消えて0%で出てくる */
}

.is-active-drawer .l-global-nav {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.l-global-nav li a {
  display: block;
  padding: 1em;
  color: #90a4ae;
  text-decoration: none;
  font-weight: bold;
}

.l-global-nav li a:hover {
  background-color: #212121;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .l-global-nav {
    position: static;
    padding: 0;
    background-color: transparent;
    -webkit-transform: translateX(0%); /* Android, Blackbery */
        -ms-transform: translateX(0%); /* IE9 */
            transform: translateX(0%);
  }

  .l-global-nav li {
    float: left;
  }

  .l-global-nav li + li {
    margin-left: 1em;
  }

  .l-global-nav a {
    padding: .2em .5em;
    color: #263238;
  }
}


/* main */
.l-main {
  clear: both;
  padding-top: 3em;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .l-main {
    padding: 4.5em;
  }
}

@media screen and (min-width: 1024px) {
  .l-main {
    padding: 5em;
  }
}

/* section */
.l-section {
  padding: 1.5em 0;
}

.l-section-button {
  margin: 1.5em auto 0;
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 2em 0;
  }
  .l-section-button {
  margin-top: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .l-section {
    padding: 2.5em 0;
  }

  .l-section-button {
  margin-top: 2.5em;
  }
}

/* grid */
.l-grid {
  overflow: hidden;
  width: auto; /* 内容に合わせる */
  margin: -4px;
  font-size: 0;
}

.l-grid-item {
  width: 50%;
  display: inline-block;
  font-size: medium;
  /* float: left; */
  border: 4px solid transparent;
}

@media screen and (min-width: 768px) {
  .l-grid {
    margin: -8px;
  }
  .l-grid-item {
    width: 33.3333%;
    border-width: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .l-grid-item {
    width: 25%;
  }
}

/* footer */
.l-footer {
  padding: 1.5em;
  background-color: #163238;
  color: #90a4ae;
  text-align: center;
}

.l-footer-address {
  font-style: normal;
  font-size: .75em;
  line-height: 1.3;
}

.l-footer-copyright {
  margin-top: 1em;
  font-size: .75em;
}

.l-footer-copyright a {
text-decoration: none;
color: #90a4ae;
}

@media screen and (min-width: 768px) {
  .l-footer {
    text-align: left;
  }

  .l-footer-address {
    float: left;
  }

  .l-footer-copyright {
    float: right;
    margin-top: 4em;
    text-align: right;
  }
}

/*
  Module
-----------------------------------------------------*/
/* Hero */
.hero {
  position: relative;
}

.hero-body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-img img {
  width: 100%;
}

.hero-home .hero-body {
  margin-left: 22%;
}

.hero-home .hero-copy {
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0 0, 0.3);
  font-size: 4vw; /* 画面の横幅に合わせる IE8以下非対応 */
}

.hero-home .hero-emphasis {
  display: block; /* br付けられなくても改行できる */
  font-size: 2.75em;
}

@media screen and (min-width: 768px) {
  .hero-home .hero-copy {
    font-size: 3vw;
  }
}
/* Heading */
.heading-primary {
  margin-bottom: 1em;
  border-left: 4px solid #263238;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .8em;
  padding-left: .5em;
}

.heading-caption {
  font-weight: 500;
  font-size: 12px;
  color: #90a4ae;
}

@media screen and (min-width: 768px) {
  .heading-primary {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1024px) {
  .heading-primary {
    font-size: 2em;
  }
}

/* logo */
.logo-secondary {
  display: inline-block;
  margin-bottom: 1em;
}


/* card */
.card {
  display: block;
  background-color: #fff;
  text-decoration: none;
}

.card[href]:hover {
  background-color: #eee;
}
/*
a.card:hover {
  background-color: #eee;
} */

.card-thumbnail figcaption {
  padding: 1em;
  color: #263238;
  font-size: .8em;
}

.card-thumbnail img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card-tgumbnail figcaption {
    font-size: 1em;
    padding: 1.5em;
  }
}


/* Button */
.button {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  border-radius: .5em;
  padding: 1em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button-primary {
  border: 1px solid #263238;
  color: #263238;
}

.button-primary:before,
.button-primary:after {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto 0;
  width: .5em;
  height: .5em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button-primary:before {
  right: 2em;
  background-color: #263238;
}
.button-primary:after {
  right: 2.1em;
  background-color: #fafafa;
}

.button-primary:hover {
  color: #fff;
  background-color: #263238;
}

.button-primary:hover:before {
  right: 1.5em;
  background-color: #fff;
}

.button-primary:hover:after {
  right: 1.6em;
  background-color: #263238;
}

.button-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2.5%;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  border-radius: 4px;
  background-color: #263238;
}

.hamburger:before,
.hamburger:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: inherit;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; /* IE9非対応 */
}

.hamburger:before {
  top: -5px;
}

.hamburger:after {
  top: 5px;
}

/* 真ん中の線消す */
.is-active-drawer .hamburger {
  background-color: transparent;
}

.is-active-drawer .hamburger:before,
.is-active-drawer .hamburger:after {
  top: 0;
  background-color: #90a4ae;
}

.is-active-drawer .hamburger:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.is-active-drawer .hamburger:after {
  -webkit-transform: rotate(45deg); /* Android, Brackberry  */
      -ms-transform: rotate(45deg); /* IE9  */
          transform: rotate(45deg);
}



@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}


/* Accesibility */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
