/*** button ***/

/*** hamburger ***/
.button-hamburger {
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  z-index: 1;
  width: 35px;
  height: 35px;
  margin: auto 0;
  border: 0;
  outline: 0;
  z-index: 5;
  background-color: #f5deb3;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  border-radius: 6px;
  background-color: #999;

  &:before,&:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: inherit;
    content: '';
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  &:before {
    top: -6px;
  }
  &:after {
    top: 6px;
  }
}

.is-active-drawer .hamburger {
  background-color: transparent;

  .hamburger:before, .hamburger:after {
    top: 0;
    background-color: #666;
  }
  .hamburger:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@include mq($tab) {
  .button-hamburger {
    display: none;
  }
}
/******************************************/
.button {
  text-decoration: none;
  display: inline-block;
  color: #666;
  text-align: center;

  &.-primary {
    width: 100px;
    font-size: .875em;
    padding: .875em .5em;
    background-color: #eee;
    border-radius: 10px;

    &:hover {
      background-color: #ddd;
    }
  }

  &.-more {
    font-size: .985em;
    background-color: #fff;
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 40%;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0px 3px 5px rgba(192,192,192,.25);
            box-shadow: 0px 3px 5px rgba(192,192,192,.25);

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }

    &:before {
      background-color: #ccc;
      top: 6px;
    }

    &:after {
      background-color: inherit;
      top: 3px;
    }

    &:hover {
      background-color: lighten($main-color, 15%);
      border-color: lighten($main-color, 15%);
      color: #fff;
      cursor: pointer;

      &:before {
        background-color: #fff;
      }
    }
  }
}

.card__button {
  text-align: center;
  padding-top: 1em;
}

.button.-top {
  display: none;
}

@include mq($tab) {
  .button.-top {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
    padding: 1.5em .75em 1em;


    &:hover {
       background-color: $sub-color;

      &:after {
        background-color: $sub-color;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }

    &:before {
      background-color: #666;
      top: 10px;
    }

    &:after {
      background-color: inherit;
      top: 13px;
    }
  }

}
