/*** skill ***/

.skill {
  width: 100%;
  background-color: #eee;
  overflow: hidden;

  &__item {
    font-size: 1.5em;
    padding-bottom: 6em;
    position: relative;
    width: 150px;
    margin: 0 auto;
    text-align: center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 2em;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
    }
  }

  &__wrapper {
    margin-top: 2em;
  }

  &__item.html:after {
    background-color: #ff7d66;
    width: 3em;
    height: 3em;
  }
  &__item.css:after {
    background-color: #66b7ec;
    width: 2.5em;
    height: 2.5em;
  }
  &__item.javascript:after {
    background-color: #c73576;
    width: 1.8em;
    height: 1.8em;
  }
  &__item.jquery:after {
    background-color: #e5ab47;
    width: 1.8em;
    height: 1.8em;
  }
  &__item.php:after {
    background-color: #7b9ad0;
    width: 2.5em;
    height: 2.5em;
  }
  &__item.mysql:after {
    background-color: #85beab;
    width: 2em;
    height: 2em;
  }
  &__item.xd:after {
    background-color: #dd9dbf;
    width: 2em;
    height: 2em;
  }
  &__item.cubase:after {
    background-color: #ae8dbc;
    width: 2.5em;
    height: 2.5em;
  }
}

@include mq($tab) {
  .skill__item {
    width: 230px;
  }
}

.js-skill {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
