/* Default style */
html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font: medium/1.5 'Noto Sans JP', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

/*
  Accessibility
-----------------------------------------------------*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.uppercase {
  text-transform: uppercase;
}
