@charset "UTF-8";

/*
Base
-----------------------------------------------------*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default style */
html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font: 'Noto Sans JP', medium/1.5 '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic',
'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

/*
Layout
-----------------------------------------------------*/
/* centering */
.l-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.l-container.-narrow {
  max-width: 1000px;
}


/****** header ******/
.l-header {
  overflow: hidden;
  padding: .75em 0;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.l-header__title {
  float: left;
  margin-right: 5em;
}

.l-header__icon {
  display: none;
  /* float: right;
  margin: -2.5em 1em 0 0; */
}

/****** スマホ用nav ******/
.l-global-nav {
  position: fixed;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
  padding: 3em;
  width: 100%;
  height: 120%;
  background-color: rgba(255, 165, 0, .92);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.is-active-drawer .l-global-nav {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.l-header__nav {
  float: right;
}

.l-global-nav a {
  display: block;
  padding: 1.25em;
  text-decoration: none;
  color: #fafafa;
}

.l-global-nav a:hover {
  background-color: rgba(252,210,113,.5);
}


@media screen and (min-width: 768px) {
  .l-header__nav button {
    display: none;
  }
  .l-header__nav {
    float: left;
  }
  .l-global-nav {
    position: static;
    padding: 0;
    background-color: transparent;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .l-header__nav {
    font-size: 0;
    text-align: center;
  }

  .l-nav__item {
    display: inline-block;
    font-size: medium;
  }

  .l-nav__item a {
    padding: 1em 1.5em;;
    display: block;
    text-decoration: none;
    color: #666;
  }

  .l-header__icon {
    display: block;
    float: right;
    margin-top: .5em;
  }
}


/****** main ******/
.l-main {
  clear: both;
  margin-top: 66px;
}

/****** section ******/
.l-section {
  padding: 3em 0;
  padding-top: 70px;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 4em 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-section {
    padding: 6em 0;
  }
}


/****** l-skill__contetns ******/
.skill__wraper {
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-work__container {
  margin: 1em 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.l-grid {
  margin-top: 4em;
}

/****** contact ******/
.l-contact {
  text-align: center;
  margin-bottom: 5em;
}

/****** footer ******/
.l-footer__logo,
.l-footer__nav{
  display: none;
}

.l-footer {
  padding-top: 1em;
}

.l-footer__nav .l-nav__item {
  display: inline-block;
}

.l-footer__nav .l-nav__item a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 1em 4em;
  text-align: center;
}

.l-footer .l-container {
  text-align: center;
}

.l-footer-icon {
  text-align: center;
}

.footer__git {
  margin: 0 5em;;
  padding: 1em;
}

.l-footer__copyright {
  text-align: center;
  padding: 2em 0;
  font-size: .875em;
}


/* =====================================================
Object
===================================================== */

/****** hero ******/
.l-hero {
  position: relative;
}

.hero__body {
  position: absolute;
  top: 35%;
  left: 35%;
  letter-spacing: .2em;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .hero__body {
    position: absolute;
    top: 43%;
    left: 33%;
  }
}

.hero__tag {
  font-size: 3.25vw;
}

.hero__em {
  font-size: 4.3vw;
  font-weight: bold;
  padding: 0 .3em;
}

.hero__text {
  display: inline-block;
  font-size: 2.8vw;
  margin-top: 1em;
  margin-bottom: 3em;
}

.hero__name {
  font-size: 2vw;
}

.hero__image img {
  width: 100%;
  /* min-width: 1200px; */
}


/********* heading *********/
.text-center {
  text-align: center;
}

.heading.-primary {
  display: inline-block;
  font-size: .875em;
  border-bottom: 4px solid #ffa500;
  padding-bottom: .7em;
}

.heading.-secondary {
  font-size: 1.2em;
  padding: .5em 0;
  line-height: 1.8em;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
    .heading.-primary {
    display: inline-block;
    font-size: 1.5em;
    border-bottom: 4px solid #ffa500;
    padding-bottom: .7em;
  }

  .heading.-secondary {
    font-size: 2em;
    padding: .5em 0;
    line-height: 1.8em;
    font-weight: bold;
  }
}

/******** profile ********/
.l-section.profile {
  background-color: #fafafa;
}

.l-profile__primary {
  width: 100%;
  margin: 0 auto;
}

.profile__picture {
  width: 100%;
  margin: 1.5em 0 2.5em 0;
}

.l-profile__primary img {
  border-radius: 40%;
  border: 10px solid #FCE38A;
}

.profile__content {
  margin: 0 auto;
  width: 100%;
  font-size: .9375em;
}

.profile__list {
  display: inline-block;
  margin: 0 auto;
}

.profile__content dt {
  float: left;
  padding-top: .5em;
}

.profile__content li {
  display: inline-block;
  font-size: medium;
  padding-right: .5em;
}

.profile__content dd {
  padding: .5em 0 .2em 5.5em;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.profile__text{
  font-size: .875em;
  margin-top: 1em;
  line-height: 1.4em;
}

@media screen and (min-width: 768px) {

  .profile__list {
    padding-top: 1em;
  }

  .l-profile__primary {
    padding-top: 3em;
    display: flex;
    width: 80%;
  }
}


/******** title ********/
.detail__title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25;
}

/******** detail ********/
.detail__content {
  text-align: left;
  margin: 4em 0;
}

.detail__text {
  font-size: .9875em;
  padding-top: 1.5em;
  line-height: 1.2;
}

.detail__img {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
          box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.profile__detail {
  text-align: center;
  padding: 0 1em;
}

.l-container.-detail {
  margin-top: -3em;
}

@media screen and (min-width: 768px) {
  .detail__title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.25;
    clear: both;
  }

  .profile__detail {
    margin-top: 2em;
    overflow: hidden;
  }

  .profile__detail.-primary .detail__content {
    float: left;
    width: 60%;
  }

  .detail__img.-music {
    float: right;
    margin: 2em 3em 0 0;
  }

  .profile__detail.-secondary .detail__content {
    float: right;
    width: 65%;
  }

  .detail__img.-pc {
    float: left;
    margin: 2.5em 0 3em 0;
  }

  .detail__text {
    padding-top: 1.5em;
    line-height: 1.5;
  }
}

/*********** skill ************/
.skill {
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}

.skill__item {
  font-size: 1.5em;
  padding-bottom: 6em;
  position: relative;
  width: 150px;
  text-align: center;
}

.js-skill {
   transition: all 1.5s;
   -webkit-transition: all 1.5s;
}

.skill__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}

.skill__wraper {
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .skill__item {
    width: 230px;
  }
}

.skill__item.html:after {
  background-color: #ff7d66;
  width: 3em;
  height: 3em;
}
.skill__item.css:after {
  background-color: #66b7ec;
  width: 2.5em;
  height: 2.5em;
}
.skill__item.javascript:after {
  background-color: #c73576;
  width: 1.5em;
  height: 1.5em;
}
.skill__item.jquery:after {
  background-color: #e5ab47;
  width: 1.5em;
  height: 1.5em;
}
.skill__item.php:after {
  background-color: #7b9ad0;
  width: 2em;
  height: 2em;
}
.skill__item.mysql:after {
  background-color: #85beab;
  width: 1.5em;
  height: 1.5em;
}
.skill__item.xd:after {
  background-color: #dd9dbf;
  width: 2em;
  height: 2em;
}
.skill__item.cubase:after {
  background-color: #ae8dbc;
  width: 3em;
  height: 3em;
}



/* work */
.work {
  background-color: rgba(252,210,113,.5);
  width: 100%;
}
/* tag */
.card__tag {
  z-index: 1;
  font-size: .8em;
  padding: .6em;
  color: #fff;
  right: 1em;
  top: -2.1em;
  border-radius: 2px;
  letter-spacing: .05em;
}

.card__tag.-new {
  background-color: #ef857d;
  position: absolute;
}

.card__tag.-old {
  background-color: #a9a9a9;
  position: absolute;
}



/* card */
.card {
  width: 285px;
  position: relative;
  padding: 13em 1em 1.5em;
  background-color: #fafafa;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(192,192,192,.25);
          box-shadow: 0px 5px 20px rgba(192,192,192,.25);
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__title {
  font-weight: bold;
}

.card__list dt {
  display: inline-block;
}

.card__list dd {
  display: inline-block;
  padding-right: 1em;
}

.card__list li {
  display: inline-block;
}

.card__list {
  font-size: .75em;
  padding: .75em 0 1.25em;
}

.card__text {
  font-size: .875em;
  margin-bottom: 1em;
  min-height: 7em;
  line-height: 1.25em;
}

/**** button *****/
/* hamburger */
.button-hamburger {
  position: absolute;
  top: 0;
  right: 2.5%;
  bottom: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border: 0;
  outline: 0;
  z-index: 5;
  background-color: #f5deb3;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  border-radius: 6px;
  background-color: #999;
}

.hamburger:before,
.hamburger:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: inherit;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger:before {
  top: -6px;
}

.hamburger:after {
  top: 6px;
}

.is-active-drawer .hamburger {
  background-color: transparent;
}

.is-active-drawer .hamburger:before,
.is-active-drawer .hamburger:after {
  top: 0;
  background-color: #666;
}

.is-active-drawer .hamburger:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); /* ie9 */
          transform: rotate(-45deg);
}

.is-active-drawer .hamburger:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg); /* ie9 */
          transform: rotate(45deg);
}


@media screen and (min-width: 768) {
  .button-hamburger {
    display: none;
  }
}


.button {
  text-decoration: none;
  display: inline-block;
  color: #666;
  text-align: center;
}


.button.-primary {
  width: 100px;
  font-size: .875em;
  padding: .875em .5em;
  background-color: #eee;
  border-radius: 10px;
}

.button.-primary:hover {
  background-color: #ddd;
}

.card__button {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      -webkit-box-pack: justify;
          justify-content: space-between;
}

.-onlyGit {
  margin-left: 2.890625em;
}

.button.-more {
  font-size: .875em;
  background-color: #fff;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 40%;
  display: block;
  /* padding: .5em 4.5em; */
  margin: 0 auto 1em;
  -webkit-box-shadow: 0px 3px 5px rgba(192,192,192,.25);
          box-shadow: 0px 3px 5px rgba(192,192,192,.25);

}

.button.-more:before,
.button.-more:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}

.button.-more:before {
  background-color: #ccc;
  top: 6px;
}
.button.-more:after {
  background-color: inherit;
  top: 3px;
}

.button.-more:hover {
  background-color: #ffd700;
  color: #fff;
  border-color: #ffd700;
}

.button.-more:hover:before {
  background-color: #fff;
}

/* button top */
.button.-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .button.-top {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
  }

  .button.-top {
    padding: 1.5em .75em 1em;
  }

  .button.-top:before,
  .button.-top:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg)
  }

  .button.-top:before {
    background-color: #666;
    top: 10px;
  }
  .button.-top:after {
    background-color: inherit;
    top: 13px;
  }

  .button.-top:hover {
    background-color: #ddd;
  }

  .button.-top:hover:after {
    background-color: #ddd;
      -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
  }

}

  /* contact */
  .l-section.contact {
    background-color: #fafafa;
  }

  .contact__title {
    margin: 3em 0 1em;
  }

  .contact__mail a {
    text-decoration: none;
    color: #666;
    padding: 1em;
  }

  .contact__mail a:hover {
    color: #888;
  }







/*
  Accessibility
-----------------------------------------------------*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.uppercase {
  text-transform: uppercase;
}
