@charset "UTF-8";
/*
Base
-----------------------------------------------------*/
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default style */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font: medium/1.5 'Noto Sans JP', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  height: 100%;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*
  Accessibility
-----------------------------------------------------*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.uppercase {
  text-transform: uppercase;
}

/*
Layout
-----------------------------------------------------*/
/*** centering ***/
.l-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.l-container.-narrow {
  max-width: 1040px;
  text-align: center;
}

.text-center {
  text-align: center;
}

/*** header ***/
.l-header {
  padding: .75em 0;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.l-header__title {
  float: left;
  margin: .5em 5em 0 0;
}

.l-header__icon {
  display: none;
}

.l-header__nav {
  float: right;
}

/*** スマホ用nav ***/
.l-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 3em;
  width: 100%;
  height: 120%;
  z-index: 4;
  background-color: rgba(255, 165, 0, 0.92);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.is-active-drawer .l-global-nav {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.l-global-nav a {
  display: block;
  padding: 2em 0 1em .5em;
  text-decoration: none;
  color: #fafafa;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

.l-global-nav a:hover {
  background-color: rgba(252, 210, 113, 0.5);
}

/*** PC用 ***/
@media screen and (min-width: 768px) {
  .l-header__nav {
    float: left;
    text-align: center;
    font-size: 0;
  }
  .l-header__nav button {
    display: none;
  }
  .l-header__icon {
    display: block;
    float: right;
    margin-top: .5em;
  }
  .l-global-nav {
    position: static;
    padding: 0;
    background-color: transparent;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .l-nav__item {
    display: inline-block;
    font-size: medium;
    margin-top: .5em;
  }
  .l-nav__item a {
    padding: 1em 1.5em;
    display: block;
    text-decoration: none;
    color: #666;
  }
}

/*** main ***/
.l-main {
  clear: both;
  margin-top: 66px;
}

/*** section ***/
.l-section {
  padding: 3em 0;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding: 4em 0;
  }
}

@media screen and (min-width: 1024px) {
  .l-section {
    padding: 5em 0;
  }
}

/*** update ***/
.l-update {
  width: 65%;
  margin: 0 auto;
}

/*** skill ***/
.skill__wraper {
  width: 95%;
  margin: 0 auto;
  padding-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*** work ***/
.l-work__container {
  margin: 1em 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.l-grid {
  margin-top: 4em;
}

/*** contact ***/
.l-contact {
  text-align: center;
  margin-bottom: 5em;
}

/*** footer ***/
.l-footer__logo,
.l-footer__nav {
  display: none;
}

.l-footer {
  padding-top: 2em;
  background-color: #fafafa;
}

.l-footer__nav .l-nav__item {
  display: inline-block;
}

.l-footer__nav .l-nav__item a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 1em 4em;
  text-align: center;
}

.l-footer .l-container {
  text-align: center;
}

.l-footer__copyright {
  padding: 2em 0;
  font-size: .875em;
}

.footer__git {
  margin: 0 5em;
  padding: 1em;
}

/* =====================================================
Object
===================================================== */
/*** hero ***/
.l-hero {
  position: relative;
}

.hero__body {
  position: absolute;
  top: 35%;
  left: 35%;
  letter-spacing: .2em;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__tag {
  font-size: 3.25vw;
}

.hero__em {
  font-size: 4.5vw;
  font-weight: bold;
  padding: 0 .3em;
}

.hero__text {
  display: inline-block;
  font-size: 3vw;
  margin-top: 1em;
  margin-bottom: 3em;
}

.hero__name {
  font-size: 2.5vw;
}

.hero__image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__body {
    position: absolute;
    top: 43%;
    left: 37%;
  }
  .hero__tag {
    font-size: 3.25vw;
  }
  .hero__em {
    font-size: 4.3vw;
  }
  .hero__text {
    font-size: 2.5vw;
  }
  .hero__name {
    font-size: 2vw;
  }
}

/*** heading ***/
.heading.-primary {
  display: inline-block;
  font-size: .875em;
  border-bottom: 4px solid #ffa500;
  padding-bottom: .7em;
}

.heading.-secondary {
  font-size: 1.2em;
  padding: .5em 0;
  line-height: 1.8em;
  font-weight: bold;
}

.heading.-tertiary {
  border-left: 3px solid #ffa500;
  padding-left: .35em;
}

@media screen and (min-width: 768px) {
  .heading.-primary {
    font-size: 1.5em;
  }
  .heading.-secondary {
    font-size: 2em;
  }
}

/*** update ***/
.update__wrap {
  height: 13em;
  overflow: scroll;
  border: 1px solid #ddd;
  padding: 1.25em;
  font-size: .875em;
  margin-top: 1em;
}

.update__date {
  color: #a9a9a9;
  padding-bottom: .5em;
}

.update__content {
  margin-bottom: .9em;
  padding-bottom: .9em;
  border-bottom: 2px dotted #ffb733;
}

@media screen and (min-width: 768px) {
  .update__date {
    float: left;
  }
  .update__content {
    padding-left: 7em;
  }
}

/*** profile ***/
.l-section.profile {
  background-color: #fafafa;
}

.l-profile__primary {
  width: 100%;
  margin: 0 auto;
}

.l-profile__primary img {
  border-radius: 30%;
  border: 9px solid #fce38a;
}

.profile__picture {
  width: 100%;
  margin: 1.5em 0 2.5em 0;
}

.profile__content {
  margin: 0 auto;
  width: 100%;
  font-size: .9375em;
}

.profile__content dt {
  float: left;
  padding-top: .5em;
}

.profile__content li {
  display: inline-block;
  font-size: medium;
  padding-right: .5em;
}

.profile__content dd {
  padding: .5em 0 .2em 5.5em;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.profile__list {
  display: inline-block;
  margin: 0 auto;
}

.profile__text {
  font-size: .875em;
  margin-top: 1em;
  line-height: 1.4em;
}

@media screen and (min-width: 768px) {
  .profile__content {
    text-align: right;
    margin-right: 3em;
  }
  .profile__list {
    padding-top: 1em;
  }
  .l-profile__primary {
    padding-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
  .profile__picture {
    margin: 4em 0 0 4em;
    width: 230px;
  }
}

/*** detail ***/
.detail__title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25;
}

.detail__text {
  font-size: .9875em;
  padding-top: 1.5em;
  line-height: 1.2;
}

.detail__content {
  text-align: left;
  margin: 4em 0;
}

.detail__img {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.profile-detail {
  text-align: center;
  padding: 0 1em;
}

.l-container.-detail {
  margin-top: -3em;
}

@media screen and (min-width: 768px) {
  .detail__title {
    font-size: 1.5em;
    clear: both;
  }
  .detail__img.-music {
    float: right;
    margin: 4em 3em 0 0;
  }
  .detail__img.-pc {
    float: left;
    margin: 5em 0 3em 0;
  }
  .detail__text {
    line-height: 1.5;
  }
  .profile__detail {
    margin-top: 2em;
    overflow: hidden;
  }
  .profile__detail.-primary .detail__content {
    float: left;
    width: 60%;
  }
  .profile__detail.-secondary .detail__content {
    float: right;
    width: 65%;
  }
}

/*** skill ***/
.skill {
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}

.skill__item {
  font-size: 1.5em;
  padding-bottom: 6em;
  position: relative;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

.skill__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}

.skill__wrapper {
  margin-top: 2em;
}

.skill__item.html:after {
  background-color: #ff7d66;
  width: 3em;
  height: 3em;
}

.skill__item.css:after {
  background-color: #66b7ec;
  width: 2.5em;
  height: 2.5em;
}

.skill__item.javascript:after {
  background-color: #c73576;
  width: 1.8em;
  height: 1.8em;
}

.skill__item.jquery:after {
  background-color: #e5ab47;
  width: 1.8em;
  height: 1.8em;
}

.skill__item.php:after {
  background-color: #7b9ad0;
  width: 2.5em;
  height: 2.5em;
}

.skill__item.mysql:after {
  background-color: #85beab;
  width: 2em;
  height: 2em;
}

.skill__item.xd:after {
  background-color: #dd9dbf;
  width: 2em;
  height: 2em;
}

.skill__item.wordpress:after {
  background-color: #4169e1;
  width: 2em;
  height: 2em;
}

.skill__item.sass:after {
  background-color: #e7d748;
  width: 2em;
  height: 2em;
}

.skill__item.cubase:after {
  background-color: #ae8dbc;
  width: 2.5em;
  height: 2.5em;
}

@media screen and (min-width: 768px) {
  .skill__item {
    width: 230px;
  }
}

.js-skill {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

/*** work ***/
.work {
  width: 100%;
  background-color: rgba(252, 210, 113, 0.5);
}

/*** tag ***/
.card__tag {
  z-index: 1;
  font-size: .8em;
  padding: .6em;
  color: #fff;
  position: absolute;
  top: -2.1em;
  right: 1em;
  border-radius: 2px;
  letter-spacing: .2em;
  background-color: #909090;
}

/*** card ***/
.card {
  width: 285px;
  position: relative;
  padding: 13em 1em 1.5em;
  border-radius: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 5px 20px rgba(192, 192, 192, 0.25);
          box-shadow: 0px 5px 20px rgba(192, 192, 192, 0.25);
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__title {
  font-weight: bold;
}

.card__list {
  font-size: .75em;
  padding: .75em 0 1.25em;
}

.card__list dt {
  display: inline-block;
}

.card__list dd {
  display: inline-block;
}

.card__list li {
  display: inline-block;
}

.card__text {
  font-size: .875em;
  margin: 1em 0;
  min-height: 7em;
  line-height: 1.3;
}

/*** button ***/
/*** hamburger ***/
.button-hamburger {
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  z-index: 1;
  width: 35px;
  height: 35px;
  margin: auto 0;
  border: 0;
  outline: 0;
  z-index: 5;
  background-color: #f5deb3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: auto;
  border-radius: 6px;
  background-color: #999;
}

.hamburger:before, .hamburger:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: inherit;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger:before {
  top: -6px;
}

.hamburger:after {
  top: 6px;
}

.is-active-drawer .hamburger {
  background-color: transparent;
}

.is-active-drawer .hamburger .hamburger:before, .is-active-drawer .hamburger .hamburger:after {
  top: 0;
  background-color: #666;
}

.is-active-drawer .hamburger .hamburger:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.is-active-drawer .hamburger .hamburger:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .button-hamburger {
    display: none;
  }
}

/******************************************/
.button {
  text-decoration: none;
  display: inline-block;
  color: #666;
  text-align: center;
}

.button.-primary {
  width: 100px;
  font-size: .875em;
  padding: .875em .5em;
  background-color: #eee;
  border-radius: 10px;
}

.button.-primary:hover {
  background-color: #ddd;
}

.button.-more {
  font-size: .985em;
  background-color: #fff;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 40%;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 5px rgba(192, 192, 192, 0.25);
  box-shadow: 0px 3px 5px rgba(192, 192, 192, 0.25);
}

.button.-more:before, .button.-more:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button.-more:before {
  background-color: #ccc;
  top: 6px;
}

.button.-more:after {
  background-color: inherit;
  top: 3px;
}

.button.-more:hover {
  background-color: #ffc04d;
  border-color: #ffc04d;
  color: #fff;
  cursor: pointer;
}

.button.-more:hover:before {
  background-color: #fff;
}

.card__button {
  text-align: center;
  padding-top: 1em;
}

.button.-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .button.-top {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
    padding: 1.5em .75em 1em;
  }
  .button.-top:hover {
    background-color: #fafafa;
  }
  .button.-top:hover:after {
    background-color: #fafafa;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .button.-top:before, .button.-top:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .button.-top:before {
    background-color: #666;
    top: 10px;
  }
  .button.-top:after {
    background-color: inherit;
    top: 13px;
  }
}

/*** contact ***/
.l-section.contact {
  background-color: #fff;
}

.l-form {
  margin: 4em auto;
  padding: 3em 0;
  width: 80%;
  background-color: #fffaf0;
}

.form__title {
  margin-bottom: .75em;
}

.form__content {
  margin-bottom: 2em;
}

.form__size {
  width: 150px;
}

.form__button {
  font-size: .875em;
  border-style: none;
  background-color: #ffdb99;
  padding: .75em;
  border-radius: 5px;
}

.form__button:hover {
  cursor: pointer;
  background-color: #ffe4b3;
}

.l-contact-page {
  width: 70%;
  margin: 0 auto;
}

.heading.-form {
  margin: 2em 0;
}

.button.-conf {
  float: left;
  margin: 1em 1em 4em 0;
}

.contact__content {
  margin: 2em 0;
  line-height: 1.5;
}

.address {
  color: #6496ed;
}

.error__address {
  margin-bottom: 3em;
}

.error-message {
  font-size: .875em;
  color: #fa8072;
  margin-top: .3em;
}

.button.-contact {
  width: 150px;
}
