/*** main ***/
.l-main {
  clear: both;
  margin-top: 66px;
}


/*** section ***/
.l-section {
  padding: 3em 0;

  @include mq($tab) {
    padding: 4em 0;
  }
  @include mq($lap) {
    padding: 5em 0;
  }
}

/*** update ***/
.l-update {
  width: 65%;
  margin: 0 auto;
}

/*** skill ***/
.skill__wraper {
  width: 95%;
  margin: 0 auto;
  padding-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*** work ***/
.l-work__container {
  margin: 1em 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.l-grid {
  margin-top: 4em;
}

/*** contact ***/
.l-contact {
  text-align: center;
  margin-bottom: 5em;
}
