@charset "UTF-8";
/*全称セレクタ*/
*{
    padding: 0;
    margin: 0;
    font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ;
    list-style-type: none;
    font-size: 100%;
}
/*共通レイアウト*/
#container{
    width: 1170px;
    margin: 0 auto;

}
/*画像の下に隙間が空くのを修正*/
img{
    vertical-align: bottom;
}
/*リンクの下線を消す*/
a{
    text-decoration: none;
}
#header{
    width: 900px;
    margin: 0 auto;
}
#head-top{
    margin-bottom: 1.5em;
    overflow: hidden;
    height: 100px;
    }
#logo{
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}
#title{
    font-size: 0.7em;
    margin-top: 15px;
    margin-bottom: 3px;
}
#name a{
    color: #4169e1;
    font-size: 1.8em;
}
#gb_nav{
    overflow: hidden;
    width: 900px;
    margin-bottom: 2em;

}
#gb_nav li{
    width: 25%;
    float: left;
    text-align: center;
}

.btn{
    width: 95%;
    height: 40px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    padding-top: 15px;
    transition: all 0.5s
}

.btn:hover {
    opacity: 1;
}

.top{
    background-color: #0D3B66;
}

.course{
    background-color: #4da6ff;
}

.acsess{
    background-color: #4da6ff;
}

.contact{
    background-color: #4da6ff;
}

.clear_box{
    clear: left;
}

.introduction{
    font-size: 1.5em;
    border-left: double 10px #1862ed;
    padding-left: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    overflow: hidden;
    font-weight: lighter;
}

/*ここからアクセス*/
#acsess_content{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
.school_icon img{
    width: 60px;
    float: left;
    margin-left: 3em;
    margin-right: 0.5em;
}
#addres{
    margin-left: 8em;
    margin-bottom: 4em;
}
.map{
    text-align: center;
    margin-bottom: 2em;
}
.acsess_icon img{
   width: 60px;
   float: left;
   margin-right: 0.5em;
}
.transportation{
   padding-top: 1em;
   width: 700px;
   margin: 0 auto;
   overflow: hidden;
   margin-bottom: 7em;
}
.acsess_item{
   padding-top: 0.6em;
   margin-bottom: 1em;
   font-size: 1.2em;
}

.transportation li{
    margin-bottom: 1em;
    line-height: 2em;
}
.transportation ul{
    margin-bottom: 2em;
    margin-left: 2em;
}
#color{
    color:#4d4d4d;
}

#footer{
    clear: left;
    background-color: #5270cc;
    color: #ffffff;
    font-size:0.8em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
